@font-face {
  font-family: "Stolzl Display";
  src: url("./fonts/Stolzl\ Display.otf");
}

body {
  margin: 0;
  font-family: Stolzl Display;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
